.tasks-container {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  background: var(--very-dark-desaturated-blue);
  padding: 1.4rem;
  border-radius: var(--border-radius);

  .tasks {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 1;
  }

  .tasks-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding-top: 20px;

    position: relative;
  }

  .tas--container {
    margin-top: 0;
  }

  .filter {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.192);
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.021);
    transition: all 0.3s;
  }

  .filter svg {
    height: 16px;
    fill: rgb(77, 77, 77);
    transition: all 0.3s;
  }
  .filter:hover {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.11);
    background-color: rgb(59, 59, 59);
  }
  .filter:hover svg {
    fill: white;
  }
}

.filter-ta:hover {
  background-color: rgb(11, 180, 17);
}

.draable {
  cursor: grab;
  background-color: var(--very-dark-desaturated-blue);  
}

.draain {
  /* background-color: red; */
  opacity: .2;
  border: 2px solid black;
}

.filter-tooltip {
  position: absolute;
  bottom: 100%;
  right: 100%;
  background-color: rgb(59, 59, 59);;
  color: white;
  padding: 10px 14px;
  z-index: 100;
}

.select--container {
  z-index: 100;

  position: absolute;
  top: 1px;
  left: 1px;
}

.select {
  cursor: pointer;
  width: fit-content;
  cursor: pointer;
  position: relative;
  transition: 300ms;
  color: white;
  overflow: hidden;
}

.selected {
  width: fit-content;
  background-color: #2a2f3b;
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 5px;
  position: relative;
  z-index: 100000;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  position: relative;
  right: 0px;
  height: 10px;
  transform: rotate(-90deg);
  width: 25px;
  fill: white;
  z-index: 100000;
  transition: 300ms;
}

.options {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  background-color: #2a2f3b;
  position: relative;
  top: -100px;
  opacity: 0;
  transition: 300ms;
}

.select.over:hover > .options {
  opacity: 1;
  top: 0;
}

.select.over:hover > .selected .arrow {
  transform: rotate(0deg);
}

.option {
  border-radius: 5px;
  padding: 5px;
  transition: 300ms;
  background-color: #2a2f3b;
  width: 150px;
  font-size: 15px;
}
.option:hover {
  background-color: #323741;
}

.options input[type="radio"] {
  display: none;
}

.options label {
  display: inline-block;
}
.options label::before {
  content: attr(data-txt);
}

.options input[type="radio"]:checked + label {
  display: none;
}

.options input[type="radio"]#all:checked + label {
  display: none;
}

.select:has(.options input[type="radio"]#all:checked) .selected::before {
  content: attr(data-default);
}
.select:has(.options input[type="radio"]#option-1:checked) .selected::before {
  content: attr(data-one);
}
.select:has(.options input[type="radio"]#option-2:checked) .selected::before {
  content: attr(data-two);
}
.select:has(.options input[type="radio"]#option-3:checked) .selected::before {
  content: attr(data-three);
}
