.tasks--bottom {
  display: flex;
  justify-content: space-between;
  color: var(--very-dark-rayis-blue);
  font-size: 12px;

  button {
    background-color: transparent;
    border: none;
    color: var(--very-dark-rayis-blue);
    font-weight: 700;

    transition: .1s;
  }

  button:not(button.active):hover {
    color: hsl(235, 19%, 55%);
    cursor: pointer;
  }

  div:nth-of-type(1) {
    display: flex;
    gap: 0.7rem;
    
    button.active {
      color: var(--brit-blue);
    }
  }
}
